@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    @apply h-full w-full;
}

body{
    @apply h-full w-full;
}

input[type="checkbox"] {
    accent-color: black;
    width: 24px;
    height: 24px;
}
